body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background: #8787b5;
}

#treemap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

#treemap h2 {
  margin-top: 0px;
}

#map {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 700px;
}

.label-text {
  margin: 0px;
  font-size: 10px;
}

#legend {
  outline: 1px solid black;
}

.legend-text {
  font-size: 16px
}

#tooltip {
  position: absolute;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  background: white;
}